# Dart/Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml
*.swp

# Environment
.env
*.env.local

# OS
.DS_Store
Thumbs.db

# Generated
*.g.dart
*.freezed.dart

# dart_frog
.dart_frog/

# Postgres data
pgdata/
